* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
}
canvas {
  display: block;
  overflow: hidden;
}
body{
background-color: lightyellow;
}
#overlay {
  z-index: 3000;
  position: absolute;
  width: 100%;
}
#overlay2 {
 width: 430px;
 display: block;
  margin: 0 auto;
}
#namey {
  width: 300px;
  font-size: 150%;
}
#shapey {
  font-size: 150%;
}

a, a:visited {
  font-size: 120%;
  color: green;
}